<%- include("header") -%>

<h2>This is the about page</h2>

<p>As you can see the to do list app works well, it is simple yet there's a lot happening in the background. I am a developer and a consumer, of what you ask? Of many things</p>

<%- include("footer") -%>